language: node_js
node_js:
- 10
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_script:
- npm i firebase-tools -g
script:
- npm install
- npm run build
- firebase deploy --only hosting --token $FIREBASE_TOKEN
before_install:
- openssl aes-256-cbc -K $encrypted_71e361255680_key -iv $encrypted_71e361255680_iv
  -in firebase.auth.json.enc -out firebase.auth.json -d
env:
  global:
    ## FIREBASE_TOKEN
    secure: C8pPYP4LlX+514MaxvjRvpikw1qMbuqZmzN2piHXLpYPBvNDqenv+Hr5OdM55jZlJfS+yN9wUYjYaZ/FpUwjHCYJqbKwR2fMnxklZH0XYHssv47wuz/5D6/keP6KUEVSc8hQHi9qWEa8yVCPb8A6tziwIksxFVDRBQNL0Pm9ohLqy0cZuz1XvYLtRt1DS+uyHLZN9E+q0kD2iXsjEJSv0Z4QQ90pN//SxvNWdlZFT8WKW3tAcod/bzkz8GDI9RAz4b/kx0khCZ1Jp1HLQ1Nc5SWH7ALFMXM3F+NPrDvMRg8cWBoMXbWCmNUHkml7nNJLMa2TBY5PVQSwtPlbeDA1h4R0MgcK+898JtmifHGzi55We1+19y4cy/menyyYd6TLctbMfSOdh+/H97wMlYW7i037q2qdvq4xgkC489bl0m0s/GaLyMlZEVG4MxARV7zKhuHL1KUtAbUq6q8tJ3o8GaRnqi8kjZ7Y7gPXxnhOR1+cqwncgGCMEEh19dloitJPP0e2k8Kdar49selZg1npF6sTG81FAx1EL2yfnpoSFj9GxgFMXl+Etkf2OPCKA7/w2X5RTfYHHavK9RdBxSaaZwTvCkgNaAzzURs44CrLx8IoJfnAyDiDhu83+7ysis/drLkCYmdLXeAQVv1atMwT1LS+yyiUigyql4j0opJDV0Q=
