language: node_js
node_js:
- 10
branches:
  only:
  - master
cache:
  directories:
  - node_modules
before_script:
- npm i firebase-tools -g
- npm i @cloudflare/wrangler -g
script:
- npm install
- npm run build
- firebase deploy --only hosting --token $FIREBASE_TOKEN
- cd worker
- wrangler build
- wrangler publish
before_install:
- openssl aes-256-cbc -K $encrypted_71e361255680_key -iv $encrypted_71e361255680_iv
  -in firebase.auth.json.enc -out firebase.auth.json -d
env:
  global:
  # FIREBASE_TOKEN
  - secure: C8pPYP4LlX+514MaxvjRvpikw1qMbuqZmzN2piHXLpYPBvNDqenv+Hr5OdM55jZlJfS+yN9wUYjYaZ/FpUwjHCYJqbKwR2fMnxklZH0XYHssv47wuz/5D6/keP6KUEVSc8hQHi9qWEa8yVCPb8A6tziwIksxFVDRBQNL0Pm9ohLqy0cZuz1XvYLtRt1DS+uyHLZN9E+q0kD2iXsjEJSv0Z4QQ90pN//SxvNWdlZFT8WKW3tAcod/bzkz8GDI9RAz4b/kx0khCZ1Jp1HLQ1Nc5SWH7ALFMXM3F+NPrDvMRg8cWBoMXbWCmNUHkml7nNJLMa2TBY5PVQSwtPlbeDA1h4R0MgcK+898JtmifHGzi55We1+19y4cy/menyyYd6TLctbMfSOdh+/H97wMlYW7i037q2qdvq4xgkC489bl0m0s/GaLyMlZEVG4MxARV7zKhuHL1KUtAbUq6q8tJ3o8GaRnqi8kjZ7Y7gPXxnhOR1+cqwncgGCMEEh19dloitJPP0e2k8Kdar49selZg1npF6sTG81FAx1EL2yfnpoSFj9GxgFMXl+Etkf2OPCKA7/w2X5RTfYHHavK9RdBxSaaZwTvCkgNaAzzURs44CrLx8IoJfnAyDiDhu83+7ysis/drLkCYmdLXeAQVv1atMwT1LS+yyiUigyql4j0opJDV0Q=
  # CF_ACCOUNT_ID
  - secure: FdmxcZDW1MG6N43YS9C0xy9K+QlKlNxlEX+ojVqWxeGgnY10nDLp/+thnCy854TQHpYo27vIpUY7OhXQ4/vApI8D/eTdRD1BFH79CgY5jUOvEA0Fx2vt7tYKYeTYQAkXyirlIfndLCWUqYwjA4vEflGk6Wl17fXwtarz1G8zxZ16yT1h5ahbJ0SpSYsUwO+gsn9zDP/haUqrgmuuDJZBOTHrcZHRXB+SZ2WcNwXBmqJPftKewqA7OYcXQPoQBjRr9a8k2XOxJvpAH8/64y1Xf1XTjIO9kMsCuXg+yhMgqzEZuQBNGedJUSI0Cfoo+DUVDAZRx166K63MpJYS4HrfoAXUMzvvDr7rJiwB1QI0rLxfPQyj43e4iICfj2mEpp7NPq++xjGZqSvhvz5BaWFMUXuGyiQSwID15z6QQehc37+XSJUTMEZ0fFEHjtsIuXJ4VoPf7S1gm0b6r1JnLMbGeWW+WzdpY5SqpnABeuQ0P8yt1Mj3lWEgIMKDH4IBHooy5LmQCflsgh4lCSREIiF+AhTh3HAfnQk5YiX9Zc8XkIGpBEohlV5l5fgLqCpktG5INz2Bjjv7/e+Eu3VHosTm6ANZjMjwVs5GqnVsXbr0AeLfnlH5AKqA5PJwaa59zRKKcxdz99+/Fn8N2Oo4pUPXdIqP9u0mJ+X2Du2ZNE5pHRI=
  # CF_API_TOKEN
  - secure: tqXeyL2t6/8BRDsQIdSYJDSAHNISrJqMcnoktYyBeLoxwl3jOm0uhNZoqoZms97mIG9vs42aDAjo20ez/ZqZOWQpnw7HoB0IBHXHc4PmBVAtS/YMPaJ+pdOWTyxObup1VKDHBHzKNV0edM6FTbp6df7bc0YHClVN8jMr9sCYCPSqlklKGjd0dlO4bgKQV7/V150F7cTFZhkQ+P6rwLNI9GO25Rsn/UvY6CHuAJNq7HWTcFbUfgUqIdJaWrVKXuSxc2X7ZgkUj2+0PLzGa8SXcn4snEm8KrnqeMksMo0xbCwIDU7VB3g74OxI7rIknSaMogwIx07tm/7/8k1sivGYFkiXt+atRaGdAkOYw9idaAuOlK6pqCpOwNDG48TO5xLPm4h0DKlFIROwTfkwoHgN/rTxtYqe8ZHviUcVHWn0734WNPUcBki2p7AD6WWC3uG6LO+DcWa4H7LCFYjnnNx9PcZii0oGhDC0jpd+vOXpWAAVZ9vtv9If9hD0LgJtG3FkE2hHDBqdeBcbal3x9a5XHOJgddLmj7Cg7XhGBDP3faCmhlq/0XN+I/FArAXIRe1vcnmepWhZe1pCxDaofIrlhgZimXebp/dxXkRqJndAyXHjH4Y0evN0pux+i4HaTXu/IFFDgXqFiCq2+JsvSvwG6uQp5F//Ucc0qOHWstuJFAA=
